.Header-component-Header{
  background-color: #F3F4F7;
  margin: 0;
  height: 70px;
}

.Header-component-HeaderContent{
  align-items: center;
  display: flex;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
  justify-content: space-between;
}
