<div class="Footer-component-Footer">
  <div class="Footer-component-FooterContent">
    <div class="Footer-component-Logo">
      <div class="Footer-component-LogoWrapper">
        <app-logo class="Footer-svg"></app-logo>
      </div>
      <div class="Footer-component-Copyright">
        &#64; 2024 Uladzislau Lukashevich
      </div>
    </div>
    <nav class="Footer-component-Navigation">
      <div class="Footer-component-NavigationItem">
        <h3 class="Footer-component-NavigationItemTitle">
          Company
        </h3>
        <ul class="Footer-component-NavigationItemList">
          <a class="Footer-component-NavigationItemLink" href="/src">How to use</a>
        </ul>
      </div>
      <div class="Footer-component-NavigationItem">
        <h3 class="Footer-component-NavigationItemTitle">
          Community
        </h3>
        <ul class="Footer-component-NavigationItemList">
          <a class="Footer-component-NavigationItemLink" href="/src">Facebook</a>
          <a class="Footer-component-NavigationItemLink" href="/src">Linkedin</a>
          <a class="Footer-component-NavigationItemLink" href="/src">Twitter</a>
          <a class="Footer-component-NavigationItemLink" href="/src">Github</a>
        </ul>
      </div>
    </nav>
  </div>
</div>
