.Header-component-Navigation{
  display: block;
  float: right;
}

.Header-component-Navigation-Button{
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #44465C;
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  height: 27px;
}
